.row.my-4.mailCard {
    margin-bottom: 65px !important;
}
.show-mail.card {
    margin: 36px auto !important;
    padding: 0;
    outline: none;
    border: 0;
}
.show-mail .card-header {
    background: #18ab7b;
    color: #fff;
    border-radius: 12px 12px 0 0!important;
}
.card-body{
    border: 1px solid #18ab7b;
    padding: 0 25px 10px 18px !important;
}
.show-mail .lib {
    position: absolute;
    right: 5px;
    top: 54px;
    font-size: 12px;
    color: #18ab7b;
}
.show-mail .form-group {
    margin-top: 40px;
}
.show-mail .form-group input[type="text"] {
    width: 50%;
    height: 36px;
    border: 1px solid #18AB79;
    padding: 0 10px;
    font-size: 16px;
    color: #18ab7b;
}
.show-mail .form-group label{
  width: 30%;
  text-align: right;
  margin-right: 15px

}
.card-header {
    text-transform: uppercase;
}
